/* css reset */
*{
    margin: 0;
    padding: 0;
}
:root{
    --navbar-height:59px;
}
/* navbar  */
#navbar{
    display:flex;
    align-items:center;
    position:sticky;
    

}
/* logo and img */
#logo{
    margin: 25px 25px;

}
#logo img{
    height: 73px;
    margin: -11px 4px;
    border-radius: 100px;}
#navbar ul{
display:flex;


}
#navbar::before{
    content: "";
    background-color: rgb(25, 2, 2);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:0.9;
    top: 0px;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    
    
}
#navbar ul li a{
    display: block;
    text-decoration: none;
    /* padding: 12px 10px; */
    /* border-radius: 12px 10px; */
    padding: 18px 34px;
    border-radius: 15px 14px;
    color: white;
}
#navbar ul li a:hover{
background-color: aqua;
color: black;
border-radius: 120px;


}
/* home section */
#home{
    display:flex ;
    flex-direction: column;
    padding: 3px 120px;
    justify-content: center;
    text-align: center;
    height: 500px;
    align-items: center;
    color: aliceblue;
   
}
#home::before{
content: "";
position: absolute;
background: url(https://cdn.pixabay.com/photo/2018/04/28/14/12/food-3357374__340.jpg) no-repeat center center/cover;
height: 100%;
width: 100%;
z-index: -1;
opacity:0.80;

}
.h-primary{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.h-secondary{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#home p{
    font-size: 30px;
    text-align: center;
}
/* Services Section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{ 
    margin: 5px 30px;
    padding: 13px 23px;
    border: 6px solid red;
    border-radius: 12px;
    justify-content: center;
    justify-items: center;
}
#services .box img{ 
  height: 200px;
  display: block;
 margin: auto;
 border-radius: 12px;

}

#services .box p{
    font-family: 'Bree Serif', serif;
font-size: 1rem;
margin-top: 8px;
} 
#contact{
    position: relative;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(https://cdn.pixabay.com/photo/2018/02/12/22/19/ice-cream-3149270__340.jpg) no-repeat center center/cover;

}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}


footer{
    background: black;
    color: white;
    padding: 9px 20px;
  display: block;
  margin: auto;
  text-align: center;
}
.center{
    align-items: center;
}
.btn{
    font-size: 25px;
    border-radius: 12px;
    color: black;
    border-radius: 50%px;
    padding: 12px 50px;
    margin: 12px 30px;
}
.search{
    float:right;
    color: white;
    padding: 12px 75px;
    
}
#navbar input{
    border: 2px solid black;
border-radius: 37px;
padding: 18px 17px;
width: 129px;
float: right;
}