body{
    background-color: aquamarine;
}
ul{
font-family: fantasy;
color: indigo;
background-color: lime;
text-decoration: none;
cursor: none;


}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
}

 .btn{
cursor: none;


}ol img{

    width:auto;
    
}
ol{
color: black;
font-size: 200;
font-family: sans-serif;
background-color: magenta;
border: brown;


}
h1{
    background-color: cornflowerblue;
}
tr{
    background-color: white;
    font-family: serif;
    color:brown;
}
button{
    border-radius: 40%;
    color: black;
    background-color:palevioletred ;
}